.link-button img {
  width: 30px;
  height: 30px;
  padding: 0 16px;
  transition: 0.2s;
}

.link-button {
  width: 271px;
  background-color: lightgrey;
  border-radius: 12px;
  transition: background-color 0.2s;
}

.link-button p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  transition: color 0.2s;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

.buttons a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.button-inner {
  height: 48px;
  display: flex;
  align-items: center;
}

.link-button:hover {
  background-color: #eb5577;
}

.link-button:hover p {
  color: white;
}
