.skills-section {
  background-color: white;
  color: black;
  width: 100%;
  align-items: center;
  padding: 64px 0;

   @media (min-width:768px) and (max-width: 1023px) {
    padding: 128px 24px;  
  }  

  @media (min-width: 1024px) {
    padding: 128px 0px;    
  } 
}

.skills-heading {
  text-align: center;
  margin-bottom: 16px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1024px) {
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
  }   
}

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: 0 16px;

  @media (min-width:768px) and (max-width: 1023px) {
    align-items: center;  
  }
}

.skill-tag {
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid black;
  background: white;
  min-width: 200px;
  gap: 16px;
}

.skill {
  padding: 0;
  margin: 0;
}

.skill-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) and (max-width: 1023px) {
    align-items: center; 
  }
}