#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  place-items: center;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
}